<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        body {
          background-color: green;
        }
      </style>  
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Ik ben momenteel niet in meeting</p>
  </body>
</html>